nav{
    display: flex;
    flex-direction: row;
    padding: 4px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 20;
    transition: all 0.5s;
}

.title{
    color: black;
    padding-left: 20px;
}

.nav-item{
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-inline-start: auto;
    margin-inline-end: 5%;
}

.nav-item a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

main{
    padding: 60px 15px 10px 15px;
}

.home{
    display: inline;
    text-align: center;
}
.wellcome{
    font-size: 25px;
    background-image: url("./image/background.jpg");
    text-align: center;
    width: 100%;
    height: auto;
    padding-top: 100px;
    padding-bottom: 100px;
    color: salmon;
    text-shadow: 2rem;
}

aside {
    float: right;
    width: 25%;
    padding-left: 20px;
}

aside img{
    width: 100px;
    height: 100%;
}

footer{
    background-color: lightslategray;
    position: relative;
    color: antiquewhite;
    text-align: center;
    padding: 4px;
}